<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs") %>
</head>

<body id="page-top">

    <%- include("./partials/inner_layout.ejs") %>

    <%- include("./partials/scripts.ejs") %>
</body>

</html>